.calculator {
  width: 240px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid gray;
}

.display-pane {
  position: relative;
}

/* 최상단 점3개 */
.calculator-dot {
  left: 5px;
  position: absolute;
}

.dot-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.red {
  background-color: #fa5a5a;
}

.yellow {
  background-color: #f0d264;
}

.green {
  background-color: #82c8a0;
}

/* 숫자 입력창 */
.calculator-input.value {
  height: 40px;
  line-height: 40px;
  padding-right: 5px;
  background-color: #004f9b;
  font-size: 30px;
  color: white;
  text-align: right;
}

/* 계산기 버튼 */
.calculator-button > * {
  width: 25%;
  height: 40px;
  padding: 0px;
  background-color: #c8c8c8;
  border: 1px solid gray;
  float: left;
  font-size: 20px;
  text-align: center;
}

.calculator-button > .big {
  width: 50%;
}
