.calculator {
    background-color: rgb(216, 190, 190);
    width: 240px;
    overflow: auto;
    box-sizing: border-box;
    margin : 0px;
    border : 1px solid gray;
}

.display-pane {
    position: relative;
  }

/* 최상단 점3개 */
.calculator-dot {
    left : 5px;
    background-color : #004f9b;
    float: left;
    margin: 0px;
    position : absolute;
}
.dot-button {
	width: 10px;
	height: 10px;
	display: inline-block;
    border-radius: 100%;
    border: none;
}

.red    {background-color: #fa5a5a;}
.yellow {background-color: #f0d264;}
.green  {background-color: #82c8a0;}

/* 숫자 입력창 */
.calculator-input.value {
    width : 228px;
    height : 50px;
    background-color : #004f9b;
    font-size: 30px;
    color : white;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    outline : 1px solid gray;
}

/* 계산기 버튼 */
.calculator-button > * {
    width : 59.5px;
    height : 40px;
    margin : 0px;
    padding: 0px;
    background-color:#e5e7e5;
    outline: 1px solid gray;
    float: left;
    font-size: 20px;
    text-align: center;   
}
.calculator-button > *:hover {
    background-color: #3e8e41
 }


.calculator-button > .big {
    width : 119px;
}

.calculator-button > .yellow {
    background-color: #ffa300;
    color : white;
}


