.calculator {
    background-color: rgb(216, 190, 190);
    width: 240px;
    overflow: auto;
    box-sizing: border-box;
    margin : 0px;
    border : 1px solid gray;
}
/* 최상단 점3개 */
.calculator-dot {
    width : 234px;
    height : 20px;
    padding-left : 4px;
    background-color : #004f9b;
    float: left;
    margin: 0px;
}
.dot-button {
	width: 10px;
	height: 10px;
	display: inline-block;
    border-radius: 100%;
    border: none;
}

.red    {background-color: #fa5a5a;}
.yellow {background-color: #f0d264;}
.green  {background-color: #82c8a0;}


/* 숫자 입력창 */
input[type=text] {
    width : 238px;
    height : 60px;
    font-size: 25px;
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    border: none;
    background-color : #004f9b;
    color : white;
    text-align: right;
}

.calculator form {
    margin : 0px;
}

/* 계산기 버튼 */
.calculator-button > * {
    width : 59.5px;
    height : 40px;
    margin : 0px;
    padding: 4px;
    background-color:#c8c8c8;
    border: 1px solid gray;
    float: left;
    font-size: 20px;
    text-align: center;
}

.calculator-button > .big {
    width : 119px;
}


